# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.out

# Dependency directories (remove the comment below to include it)
vendor/
vendor.bin/

# Go workspace file
go.work
go.work.sum

# IDE
.vscode/
.idea/
*.swp
*~
.#*
*.bak

# env file
.env